Sinhro_spr_etran/Connected Services/ServiceEtran/ServiceCISS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tempuri.org/" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702" name="ServiceCISS" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp1:Policy wsu:Id="SysCISSbindingPolicy">
    <wsp1:ExactlyOne>
      <wsp1:All />
    </wsp1:ExactlyOne>
  </wsp1:Policy>
  <jaxws:bindings>
    <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
  </jaxws:bindings>
  <types />
  <message name="SendBlockRequest">
    <part name="Text" type="xs:string" />
  </message>
  <message name="SendBlockResponse">
    <part name="return" type="xs:boolean" />
  </message>
  <message name="GetBlockRequest">
    <part name="login" type="xs:string" />
    <part name="password" type="xs:string" />
    <part name="text" type="xs:string" />
  </message>
  <message name="GetBlockResponse">
    <part name="return" type="xs:boolean" />
    <part name="text" type="xs:string" />
  </message>
  <portType name="SysCISS">
    <operation name="SendBlock">
      <input message="tns:SendBlockRequest" />
      <output message="tns:SendBlockResponse" />
    </operation>
    <operation name="GetBlock">
      <input message="tns:GetBlockRequest" />
      <output message="tns:GetBlockResponse" />
    </operation>
  </portType>
  <binding name="SysCISSbinding" type="tns:SysCISS">
    <wsp1:PolicyReference URI="#SysCISSbindingPolicy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="SendBlock">
      <soap:operation soapAction="urn:nsCISS" style="rpc" />
      <input>
        <soap:body namespace="nsCISS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body namespace="nsCISS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetBlock">
      <soap:operation soapAction="urn:nsCISS" style="rpc" />
      <input>
        <soap:body namespace="nsCISS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body namespace="nsCISS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="ServiceCISS">
    <port name="SysCISSPort" binding="tns:SysCISSbinding">
      <soap:address location="http://10.248.35.14:8092/AppServer/ServiceCISS" />
    </port>
  </service>
</definitions>